.container {
  width: 100%;
  max-width: 720px;
  min-height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--gray-500);
  color: var(--gray-100);

  border: 1px solid var(--gray-400);
  border-radius: 0.75rem;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}