.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: var(--gray-600)
}

.addNewTask{
  width: 100%;
  margin-top: -1.5rem;

  display: flex;
  justify-content: center;
}

.tasksContainer {
  width: 100%;
}