.container {
  width: 100%;
  max-width: 720px;
  display: flex;
  justify-content: space-between;
  color: var(--white);


  p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

.color1 {
  color: var(--blue);
}

.color2 {
  color: var(--purple);
}

.number {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 10px;


  background: var(--gray-400);
  color: var(--white);

  border-radius: 12px;
}